[values]

; GPU frequency unlock
unlock_gpu_mariko=1      ; Mariko up to ~1267 MHz
unlock_gpu_erista=1      ; Erista up to ~921 MHz
only_on_charging=1       ; 1 = limit unlocked clocks only while charging, 0 = always

; Example #1: BOTW
; Overclock CPU when docked
; Overclock MEM to docked clocks when handheld
;[01007EF00011E000]
;docked_cpu=1224
;handheld_mem=1600

; Example #2: Picross
; Underclock to save battery
;[0100BA0003EEA000]
;handheld_cpu=816
;handheld_gpu=153
;handheld_mem=800